* {
    margin: 0;
    padding: 0;
    border:0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Futura;
}
h1 {
    font-size: 3.6em;
    padding-top: 5%;
}
h2 {
    font-size: 2.8em;
    padding-top: 5%;
}
h3 {
    font-size: 2em;
    padding-top: 3%;
    padding-bottom: 1%;
}
body {
    background-color: #a0afac;
    color: #485452;
    font-family: 'Calisto MT';
    font-size: 1em;
    margin: auto;
}
.container {
    width: 80%;
    margin: auto;
}
header {
    background-color: #d6dcdb;
    padding: 0%;
    text-align: center;
}
.contact-info {
    padding-bottom: 1%;
}
.contact-info li {
    list-style-type: none;
    display: inline;
    font-size: .8em;
}
nav {
    background-color: #869995;
}
nav li {
    padding: 1.5%;
}
nav a {
    text-decoration: none;
    font-family: Futura;
    color: #485452;
    font-size: 1.8em;
}
#my-photo img{
    width: 100%;
    padding-top: 0%;
    display: block;
    margin:auto;
}
#skills li, #interests li {
    list-style-type: none;
}
#education {
    background-color: #869995;
}
#skills {
    background-color: #788D89;
    color: #d6dcdb;
}
#skills h1, #skills h2, #skills h3 {
    color: #485452;
}
/*#skills div {
    float: left;
    width: 35%;
    margin: auto;
}

#certifications {
    clear: left;
    margin-top: 5%;
}*/
#interests {
    background-color: #d6dcdb;
}
.italics {
    font-style: italic;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#scrollUp {
  bottom: 30px;
  right: 20px;
  padding: 40px 40px;
  background: #555;
  color: #d6dcdb;
  opacity: 0.7;
  text-decoration: none;
  font-family: futura;
  font-size: 2em;
  border-radius: 250px 250px 250px 250px;
}


/*nav a:hover {
    text-decoration: underline;
    color: #d6dcdb;
}*/
